/*=================================*/
/* CCB Theme
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* Sharper Thumbnails */
img {
	display: block;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	-ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
html { height: 100%; }

body {
    font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #444;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    height: 100%;
		display: flex;
    flex-direction: column;
}

a, a:visited {
	color: #005BBB;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:active {
  color: #000;
  text-decoration: none;
}

a.white-text:hover, a.white-text:active{
	color: #005BBB;
}

a.no-hover{
  color: #000;
}

a.no-hover:hover{
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	line-height: 1.2em;
	margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4{
	font-size: 1.25em
}

p, table, ol, ul, pre, blockquote, dl {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 30px;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 20px;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}

dd {
    margin-left: 2em;
}

.no-margin{
  margin: 0;
}

.img-wrap{
  display: block;
  vertical-align: top;
  margin-bottom: 1em;
}

.centered-content{
  text-align: center;
}

.bordered{
  padding: 0.5em;
  border: 3px #000 solid;
  border-radius: 3px;
  margin: 0.5em;
}

.white-underlined{
  border-bottom: 3px #FFF solid;
  border-radius: 1.5px;
}

.overflow{
	overflow: hidden;
}

.left-float{
	float: left;
}

.right-float{
	float: right;
}

.half-width{
  width: 50%;
}

.desktop-split .left-float{
	text-align: left;
}

@media only screen and (min-width: 720px){
	.desktop-split .left-float,
	.desktop-split .overflow{
		text-align: left;
		width: calc(50% - 1em);
		padding: 0 0.5em;
	}
}
@media only screen and (max-width: 719px){
	.desktop-split .left-float,
	.desktop-split .overflow{
		overflow: auto;
		float: none;
		width: 100%;
	}
}

.carousel-slider{
	width: 100%;
}

.carousel-slider ul{
  list-style: none;
}

.padded{
	padding: 0 2em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

.white-text{
	color: #FFF;
}

@media only screen and (max-width: 470px){
	.left-float{
		float: none;
	}

	.right-float{
		overflow: visible;
	}

  .half-width{
    width: inherit;
  }
}

/* Structure Styles
/*---------------------------------------------*/

header{
	position: relative;
	width: 100%;
	padding: 0.75em 0;
	background-color: #222;
}

	header .left,
	header .right{
		display: block;
		line-height: 0;
	}

	header .left{
		float: left;
		margin-left: 2.5%;
	}

		header .left img{
			display: inline-block;
			vertical-align: top;
		}

		header .left h1{
			display: inline-block;
			vertical-align: top;
			margin-bottom: 0;
			margin-left: 0.25em;
			color: inherit;
		}

	header .right{
		float: right;
		max-width: 10%;
		margin-right: 2.5%;
	}

	header .left a{
		display: block;
		line-height: 0;
	}

	header .right a{
		display: inline-block;
		padding-left: 12px;
	}

	@media only screen and (max-width: 719px){
		header .left{
			max-width: 10%;
		}

		header .left h1{
			display: none;
		}
	}

	@media only screen and (min-width: 960px){
		header{
			-moz-box-shadow: inset 0 -2em 2em 0.5em #333;
			-webkit-box-shadow: inset 0 -2em 2em 0.5em #333;
			box-shadow: inset 0 -2em 2em 0.5em #333;
		}

		header .right{
			max-width: 20%;
		}

		header .right a{
			display: none;
		}

		header .header-menu-button{
			display: none;
		}

		header object{
			display: inline-block;
		}
	}

nav{
	-webkit-transition: top 0.15s linear, bottom 0.15s linear;
	-moz-transition: top 0.15s linear, bottom 0.15s linear;
	-ms-transition: top 0.15s linear, bottom 0.15s linear;
	-o-transition: top 0.15s linear, bottom 0.15s linear;
	transition: top 0.15s linear, bottom 0.15s linear;
}

@media only screen and (min-width: 960px){
	nav{
		overflow: hidden;
		margin-right: 2.5%;
	}

		nav ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		nav li{
			float: right;
			/* margin-left: 1em; Set in JS */
		}

		nav a{
		 display: block;
		 text-align: center;
		 padding: 0 0.5em;
		 margin: 0 0.5em;
		}

    nav li.hover-target:hover a.white-underlined{
      border: 0;
    }

		nav h3{
			margin: 0;
			color: inherit;
		}

    nav ul.dropdown li{
      float: none;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    nav li.hover-target ul.dropdown li a{
      visibility: hidden;
      max-height: 0;
    }

    nav li.hover-target:hover ul.dropdown li a{
      visibility: visible;
      max-height: 2em;
    }
}
@media only screen and (max-width: 959px){
	nav{
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -5;
		width: 100%;
	}

	nav.active{
		top: 100%;
		bottom: auto;
		z-index: 10;
	}

		nav ul{
			list-style: none;
			text-align: center;
			width: 100%;
			padding: 0;
			border-top: #000 solid 0.25em;
			margin: 0 auto;
			background-color: #FFF;
			transform: rotate(180deg);
		}

		nav ul > li{
			transform: rotate(-180deg);
		}

		nav li{
			padding: 1em 0;
			margin: 0 auto;
		}

    nav li.hover-target{
      padding-bottom: 0;
    }

    nav .dropdown{
      padding-top: 0;
      padding-bottom: 0.5em;
      border: 0;
    }

		nav a.white-text{
			color: inherit;
		}

		nav h3{
			margin: 0;
			color: inherit;
		}
}

main{
	width: 100%;
	margin: 0 auto;
}

	main .inner{
		padding-bottom: 1em;
	}

	main .inner .top{
		margin-top: 0.6em;
  }

  @media only screen and (max-width: 719px){
  	main .inner .left-float,
    main .inner .right-float{
  		float: none;
  	}

    main .inner .mobile-centered{
      text-align: center;
    }

    main .inner .half-width{
      width: inherit;
    }

    main .inner .img-wrap{
      display: inline-block;
      vertical-align: top;
    }
  }

footer{
	background-color: #EEE;
	-moz-box-shadow: inset 0 1em 1em 0.5em #DDD;
	-webkit-box-shadow: inset 0 1em 2em 0.5em #DDD;
	box-shadow: inset 0 1em 1em 0.5em #DDD;
}

	@media only screen and (min-width: 960px){
		footer .foot-nav{
			width: 80%;
			padding: 0 10%;
		}
	}

	footer ul{
		list-style: none;
		padding: 1em 2em;
		margin: 0;
		transform: rotate(180deg);
	}

	footer ul > li{
		transform: rotate(-180deg);
	}

	@media only screen and (max-width: 479px){
		footer ul{
			width: 100%;
		}

		footer .social-wrap{
			float: left;
			padding: 0 2em;
		}

		.social a{
			margin-bottom: 0.5em;
			margin-right: 1em;
		}
	}
	@media only screen and (min-width: 480px){
		footer .social-wrap{
			float: right;
			padding: 1em 2em;
		}

		.social a{
			margin-left: 1em;
		}
	}

	.social a{
		position: relative;
		display: inline-block;
		vertical-align: middle;

	}

		.social a::after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

	.social img{
		max-width: 32px;
	}

	footer h6{
		display: inline;
		color: inherit;
	}

	footer span{
		display: block;
		padding: 0 2em 1em 2em;
		color: inherit;
	}
