/*=================================*/
/* CCB Theme
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* Sharper Thumbnails */
img {
		max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
html { height: 100%; }

body {
    font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #444;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a, a:visited {
    color: #005BBB;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover, a:active {
    color: #000;
    text-decoration: none;
}

li.active a{
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table, ol, ul, pre, blockquote, dl {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 30px;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 20px;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}

dd {
    margin-left: 2em;
}


/* Structure Styles
/*---------------------------------------------*/

header{
	position: fixed;
	width: 100%;
	padding: 0.75em 0;
	background-color: #222;
}

	header .left,
	header .right{
		display: block;
		line-height: 0;
	}

	header .left{
		float: left;
		max-width: 10%;
		margin-left: 2.5%;
	}
	
	header .right{
		float: right;
		max-width: 10%;
		margin-right: 2.5%;
	}
	
	header .social-icon-button{
		display: none;
		max-width: 26px;
	}
	
	@media only screen and (min-width: 720px){
		header{
			-moz-box-shadow: inset 0 -2em 2em 0.5em #333;
			-webkit-box-shadow: inset 0 -2em 2em 0.5em #333;
			box-shadow: inset 0 -2em 2em 0.5em #333;
		}
		
		header .right{
			max-width: 20%;
		}
	
		header .header-menu-button{
			display: none;
		}
		
		header .social-icon-button{
			display: inline;
		}
	}
	
	header .left a,
	header .right a{
		display: block;
		line-height: 0;
	}
	
main{
	width: 100%;
	margin: 0 auto;
}

	nav{
		overflow: hidden;
		max-height: 0;
		-webkit-transition: max-height 0.15s linear;
		-moz-transition: max-height 0.15s linear;
		-ms-transition: max-height 0.15s linear;
		-o-transition: max-height 0.15s linear;
		transition: max-height 0.15s linear;
	}
	
			nav.active{
				z-index: 15;
				max-height: 238px; /* NOTE: This number is hardcoded! Beware! */
			}
	
			nav ul{
				padding: 0;
				margin: 0;
				list-style: none;
			}

			nav li{
				border-bottom: 0.25em solid #222;
			}
			
			nav a{
				display: block;
				text-align: center;
				padding: 1em 0;
			}

	aside{
		text-align: center;
	}
	
		aside div{
			display: block;
		}
	
		aside a{
			display: inline-block;
			position: relative;
			vertical-align:top;
		}
	
		aside a::after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 5;
			background-color: #000;
			opacity: 0.4;
		}
		
		aside a:hover::after{
			opacity: 0;
		}
		
		aside img{
			display: block;
		}
				
footer{
	padding-top: 7px;
	padding-bottom: 1em;
	padding-left: 2.5%;
	background-color: #CCC;
	-moz-box-shadow: inset 0 1em 1em 0.5em #DDD;
	-webkit-box-shadow: inset 0 1em 2em 0.5em #DDD;
	box-shadow: inset 0 1em 1em 0.5em #DDD;
}

	footer .social-icon-button{
		max-width: 26px;
	}
		
@media only screen and (max-width: 339px){
	aside a{
		float: left;
		width: 50%;
	}
}
@media only screen and (max-width: 719px){
	nav{
			position: fixed;
			left: 0;
			z-index: 10;
			width: 100%;
			background-color: #FFF;
	}
	
	.content{
		margin: 0 1em;
		}
}
@media only screen and (min-width: 720px) {
	header{
			position: static;
	}
	
	nav{
			position: fixed;
			width: 20%;
			max-height: 200px;
	}
		
		nav ul{
			margin: 0 5%;
		}
		
		.content{
				float: left;
				width: 60%;
				margin-left: 20%;
		}
		
	main{
		width: 100%;
		margin: 0 auto;
	}
		
	aside{
		float: left;
		width: 20%;
	}
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
